# Wrangle and Analyze Data - WeRateDogs

## Introduction

The goal for this project is to wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. I will be using Python and its libraries to gather data from a variety of sources and in a variety of formats, assess its quality and tidiness, then clean it. The dataset that I will be wrangling is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog.

In [13]:
# Import the libraries.
import pandas as pd


#import pandas as pd
#import numpy as np
#import requests
#import tweepy
#import time
#import json
#import os
#from datetime import datetime
#import matplotlib.pyplot as plt
#%matplotlib inline
#import seaborn as sns

# Display entire cells
#pd.set_option('display.max_colwidth', -1)

## Gathering Data

#### 1. Twitter csv file - Archive

In [12]:
# Read Twitter archive csv file into DataFrame 
twitter_arch = pd.read_csv('twitter-archive-enhanced.csv')
twitter_arch.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

#### 2. Twitter tsv file - Image Predictions

#### 3. Twitter API

## Assessing Data

### 1. Visual assessment

In [ ]:
df

In [ ]:
# Display the first five rows of the DataFrame using .head

In [ ]:
# Display the last five rows of the DataFrame using .tail

In [ ]:
# Display a basic summary of the DataFrame using .info

In [ ]:
# Display the entry counts for the Year column using .value_counts

- Missing values (NaN)
- StartDate inconsistencies (ASAP)
- Nondescriptive column headers (ApplicationP, AboutC, RequiredQual ... and also JobRequirment)

### 2. Programmatic assessment

## Clean

### Issue 1:

#### Define

#### Code

#### Test

## Clean